/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

resources/views/layouts/app.blade.php
resources/views/leereenheden.blade.php
resources/views/leereenheden.blade.php

app/Http/Controllers/DashboardController.php
app/Http/Controllers/DashboardController.php
app/Http/Controllers/DashboardController.php
vs.sql

