body {
    width: 980px;
    margin:0 auto;
}

#selector {
    text-align:center;
    list-style-type: none;
    margin:0 auto;
}

li {
    display: inline;
    background-color: grey;
    font-size: 30px;
    padding:20px;
}

.active {
    background-color: #2a88bd;
}

#forms {
    text-align:center;
    font-size:20px;
    margin:0 auto;
}

.student {
    display:block;
}

.docent {
    display: none;
}

.coach {
    display: none;
}